#active reecriture d'url
RewriteEngine on 

#reecriture d'url controller/fonction + id
RewriteRule ^([a-z0-9\-]+)/([a-z0-9\-]+)$ ?action=$1&fonction=$2 [L]
RewriteRule ^([a-z0-9\-]+)/([a-z0-9\-]+)/id/([a-z0-9\-]+)$ ?action=$1&fonction=$2&id=$3 [L] 

#reecriture d'url controller/fonction/user + id
RewriteRule ^([a-z0-9\-]+)/([a-z0-9\-]+)/user/([0-9]+)$ ?action=$1&fonction=$2&idUser=$3 [L]
RewriteRule ^([a-z0-9\-]+)/([a-z0-9\-]+)/id/([a-z0-9\-]+)/user/([0-9]+)$ ?action=$1&fonction=$2&id=$3&idUser=$4 [L] 

#reecriture d'url avec token
RewriteRule ^([a-z0-9\-]+)/([a-z0-9\-]+)/tok/([A-Za-z0-9\-_.]+)$ ?action=$1&fonction=$2&tok=$3 [L]

#reecriture d'url connexion
RewriteRule ^(connexion)$ ?action=connexion [L]
